#menu {
	display:block;
}
#menu li {
	display:inline-block;
	list-style:none;
}
#data_frame {
	width:100vw;
	height:100vh;
}

.class_img {
	width:25px;
	height:25px;
}

#tbl_exception td{
	width: 50px;
	vertical-align: middle;
	//border:solid 1px black;
	text-align:center;
	vertical-align:middle;
}


